{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock page_header %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% if cart_items %}
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col" class="d-none d-md-block">Price</th>
            <th scope="col">Grind</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr>
            <td>
              <a href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a>
            </td>
            <td>{{ item.quantity }}</td>
            <td class="d-none d-md-block">€{{ item.product.price }}</td>
            {% if item.product.coffee %}
            <td>
              <select class="form-control">
                <option selected value="Wholebean">Wholebean</option>
                <option value="Moka Pot">Moka Pot</option>
                <option value="French Press">French Press</option>
                <option value="Pour Over">Pour Over</option>
                <option value="Filter/Drip">Filter/Drip</option>
                <option value="Espresso">Espresso</option>
              </select>
            </td>
            {% else %}
            <td>N/A</td>
            {% endif %}
            <td>${{ item.total }}</td>
            <td>
              <form action="{% url 'cart_remove' item.product.id %}" method="post">
                {% csrf_token %}
            <button class="btn btn-danger" type="submit">
                Remove
            </button>
        </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="text-right my-3">
        <h3>Total: €{{ total }}</h3>
      </div>
      <div class="text-center">
        <a href="#" class="btn btn-primary">Checkout</a>
      </div>
      {% else %}
      <p>Your cart is empty</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
