{% extends "base.html" %}
{% load static %}
{% block extra_title %}
  - Cart
{% endblock extra_title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
    <ol class="breadcrumb">
      {% if user.is_authenticated %}
        <li class="breadcrumb-item">
          <a href="{% url 'account_dashboard' %}">My Account</a>
        </li>
      {% else %}
        <li class="breadcrumb-item">
          <a href="{% url 'products' %}">Products</a>
        </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h2>Shopping Cart</h2>
      <div class="col">
        {% if object_list %}
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">Product</th>
                <th class="d-none d-md-table-cell"></th>
                <th scope="col">Quantity</th>
                <th scope="col" class="d-none d-md-table-cell">Price</th>
                <th scope="col">Grind</th>
                <th scope="col" class="d-none d-md-table-cell">Actions</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
                <tr>
                  <td>
                    <a href="{% url 'product_detail' object.product.slug %}">{{ object.product.name }}</a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <a href="{% url 'product_detail' object.product.slug %}">
                      {% if object.product.image %}
                        <img src="{{ object.product.imageURL }}"
                             width="500"
                             alt="{{ object.product.name }}"
                             class="product-list-image">
                      {% endif %}
                    </a>
                  </td>
                  <td>
                    <form class="cart-form"
                          action="{% url 'cart_adjust_quantity' object.product.id %}"
                          method="post">
                      {% csrf_token %}
                      <input type="hidden"
                             name="new_quantity"
                             value="{{ object.quantity|add:-1 }}">
                      <button class="btn btn-sm btn-primary btn-cc" type="submit">-</button>
                    </form>
                    {{ object.quantity }}
                    <form class="cart-form"
                          action="{% url 'cart_adjust_quantity' object.product.id %}"
                          method="post">
                      {% csrf_token %}
                      <input type="hidden" name="new_quantity" value="{{ object.quantity|add:1 }}">
                      <button class="btn btn-sm btn-primary btn-cc" type="submit">+</button>
                    </form>
                  </td>
                  <td class="d-none d-md-block">€{{ object.product.price }}</td>
                  {% if object.product.coffee %}
                    <td>
                      <form class="cart-form"
                            action="{% url 'cart_adjust_grind' object.product.id %}"
                            method="post">
                        {% csrf_token %}
                        <select name="grind_size" class="form-control" onchange="this.form.submit()">
                          <option value="Wholebean"
                                  {% if object.grind_size == "Wholebean" %}selected{% endif %}>
                            Wholebean
                          </option>
                          <option value="Moka Pot"
                                  {% if object.grind_size == "Moka Pot" %}selected{% endif %}>
                            Moka Pot
                          </option>
                          <option value="French Press"
                                  {% if object.grind_size == "French Press" %}selected{% endif %}>
                            French Press
                          </option>
                          <option value="Pour Over"
                                  {% if object.grind_size == "Pour Over" %}selected{% endif %}>
                            Pour Over
                          </option>
                          <option value="Filter/Drip"
                                  {% if object.grind_size == "Filter/Drip" %}selected{% endif %}>
                            Filter/Drip
                          </option>
                          <option value="Aeropress"
                                  {% if object.grind_size == "Aeropress" %}selected{% endif %}>
                            Aeropress
                          </option>
                          <option value="Espresso"
                                  {% if object.grind_size == "Espresso" %}selected{% endif %}>
                            Espresso
                          </option>
                        </select>
                      </form>
                    </td>
                  {% else %}
                    <td>N/A</td>
                  {% endif %}
                  <td class="d-none d-md-table-cell">
                    <form action="{% url 'cart_remove' object.product.id %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-sm btn-outline-cc" type="submit">Remove</button>
                    </form>
                  </td>
                  <td>€{{ object.total }}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="3" class="d-table-cell d-md-none">
                  <h3>Order Total</h3>
                </td>
                <td colspan="6" class="d-none d-md-table-cell">
                  <h3>Order Total</h3>
                </td>
                <td>
                  <h3>€ {{ cart_total }}</h3>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <a href="{% url "checkout" %}" class="btn btn-lg btn-cc text-end">Checkout</a>
          </div>
        {% else %}
          <p>Your cart is empty</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
