{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    - Contact Us
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Coffee Crew</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <section class="col-lg-6">
            <h2>Contact Us</h2>
            <p>We'd love to hear from you!</p>
            <form method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </section>
        <div class="col">
            <img src="{% static 'images/contact-us.jpg' %}"
                 class="d-none d-lg-inline img-fluid rounded"
                 alt="A person typing on a laptop with a latte beside it">
        </div>
</div>
    {% endblock content %}
