{% extends "base.html" %}
{% block extra_title %}
    - Orders
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'account_dashboard' %}">My Account</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">My Orders</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    <div class="container-fluid">
        <h1>Orders</h1>
        {% if orders %}
            {% include "includes/orders_table.html" %}
            {% include "includes/pagination_links.html" %}
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </div>
{% endblock content %}
