{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock extra_css %}
{% block extra_title %}
  - Checkout Delivery Address
{% endblock extra_title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">{% include "checkout/includes/checkout_progress.html" %}</div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1>Delivery Address</h1>
                {% if address_line_1 %}
                    <div class="form-check my-3">
                        <input class="form-check-input"
                               type="checkbox"
                               name="use_default_delivery_address"
                               id="use_default_delivery_address">
                        <label class="form-check-label" for="use_default_delivery_address">Use Default Delivery Address</label>
                    </div>
                {% endif %}
                <form action="{% url 'checkout_delivery' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="col" id="delivery-options">
                    <hr class="custom-hr">
                    <h5>Delivery</h5>
                    <div id="delivery-option-none">
                        <p>Please select your country to see delivery cost.</p>
                    </div>
                    <div id="delivery-option-ie">
                        <p>Express delivery within Ireland</p>
                        <p class="fs-4 text-end" id="ie-cost"></p>
                    </div>
                    <div id="delivery-option-eu">
                        <p>Standard delivery to European Union</p>
                        <p class="fs-4 text-end" id="eu-cost"></p>
                    </div>
                    <hr class="custom-hr">
                    <h5>Order Total</h5>
                    <p class="fs-5 text-end">€{{ cart.total }}</p>
                    <h5>Total to Pay</h5>
                    <p class="fs-4 text-end" id="grand-total"></p>
                    <input type="submit" class="btn btn-cc" id="submit-btn" value="Continue to Payment">
                </form>
                <hr class="custom-hr">
            </div>
        </div>
    </div>
{% endblock content %}
{% block post_load_js %}
    {% comment %} Passing the address to JS for filling the form on checked box {% endcomment %}
    {{ full_name|json_script:"fullName" }}
    {{ address_line_1|json_script:"addressLine1" }}
    {{ address_line_2|json_script:"addressLine2" }}
    {{ address_city|json_script:"addressCity" }}
    {{ address_postcode|json_script:"addressPostcode" }}
    {{ address_country|json_script:"addressCountry" }}
    <script src="{% static 'js/checkout_delivery.js' %}"></script>
{% endblock post_load_js %}
