{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock extra_css %}
{% block extra_title %}
  - Checkout Payment Info
{% endblock extra_title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">{% include "checkout/includes/checkout_progress.html" %}</div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Payment</h1>
                <hr class="product-hr">
                <h5>Total to Pay</h5>
                <p class="fs-4">€{{ order.grand_total }}</p>
                <hr class="product-hr">
            </div>
            <div class="col">
                <!-- Display a payment form -->
                <form id="payment-form">
                    <div id="link-authentication-element">
                        <!--Stripe.js injects the Link Authentication Element-->
                    </div>
                    <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                    </div>
                    <button id="submit" class="btn btn-cc btn-stripe">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay now</span>
                    </button>
                    <div id="payment-message" class="hidden"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block post_load_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    {{ stripe_return_url|json_script:"stripeReturnURL" }}

    {{ user.email|json_script:"user_email" }}

    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock post_load_js %}
