{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">{% include "checkout/includes/checkout_progress.html" %}</div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Review Your Order</h1>
                {% if object_list %}
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Grind</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'product_detail' object.product.slug %}">{{ object.product.name }}</a>
                                    </td>
                                    <td>{{ object.quantity }}</td>
                                    {% if object.product.coffee %}
                                        <td>{{ object.grind_size }}</td>
                                    {% else %}
                                        <td>N/A</td>
                                    {% endif %}
                                    <td>€{{ object.total }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="fs-4">Total</td>
                                <td class="fs-4">€{{ cart_total }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        {% if user.is_authenticated %}
                            <a href="{% url "checkout_delivery" %}" class="btn btn-cc">Continue to Delivery</a>
                        {% else %}
                            You need to Login or Register to continue with your order.
                            <hr class="product-hr">
                            <a class="btn btn-cc" href="{% url 'account_login' %}">Login to Continue</a>
                            <a class="btn btn-cc" href="{% url 'account_signup' %}">Register</a>
                        {% endif %}
                    </div>
                {% else %}
                    <p>Your cart is empty</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
