:root {
    --main-bg-color: rgb(223, 228, 227);
    --color-primary: rgb(15, 74, 59);
    --color-primary-lighter: rgb(25, 114, 92);
    --color-secondary: rgb(255, 208, 138);
    --color-tertiary: rgb(218, 217, 205);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-off-white: rgb(237, 237, 237);
    --font-display-font: 'Rubik', sans-serif;
    --bs-breadcrumb-divider: ">";
}

.page-item a, .page-item a:hover {
    color: rgb(15, 74, 59);
}

.page-item.active a,
.page-item.active a:hover {
    color: var(--color-off-white);
    background-color: var(--color-primary);
    border: var(--color-secondary);
}
 
 body > footer {
     position: sticky;
     top: 100vh;
 }

html,body {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
}

.custom-container {
    width: clamp(320px, 100%, 1200px);
    margin: 0 auto;
}

a {
    color: inherit;
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a.btn:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: var(--color-primary);
    font-family: var(--font-display-font);
    margin: 0.5rem 0;
}

.breadcrumb-item {
    color: var(--color-primary);
    font-family: var(--font-display-font);
}

main {
    background-color: var(--color-white);
    margin: auto;
    padding: 0.5rem;
}

.cart-form {
    display: inline;
}

.breadcrumb-icon {
    vertical-align: middle;
    display: inline-block;
}

.product-card {
    width: 100%;
    height: 100%;
    margin-bottom: 1.2rem;
    border: none;
}

.product-greyed-img {
    filter: grayscale(1);
}


.product-hr {
    border: 0.1rem dashed var(--color-primary);
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.product-brand {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--font-display-font);
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.special-offer-banner {
    background-color: var(--color-secondary);
    padding: 0.2rem 0;
    text-align: center;
}

.special-offer-text {
    color: var(--color-primary);
    font-weight: bolder;
}

.navbar {
    background-color: var(--color-primary);
    color: var(--color-off-white);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-brand {
    font-family: var(--font-display-font);
    color: var(--color-off-white);
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-left: 1rem;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--color-off-white);
    text-decoration: none;
}

.dropdown-toggle:hover,
.nav-link:hover,
footer a:hover,
.dropdown-toggle:focus,
.nav-link:focus,
footer a:focus {
    color: var(--color-secondary);
    text-decoration: none;
}

.custom-dropdown-button,
.custom-dropdown-button:hover,
.custom-dropdown-button:focus,
.custom-dropdown-button:active {
    background-color: var(--color-primary);
}

.dropdown-toggle,
.btn-search,
footer a,
.nav-link {
    color: var(--color-off-white)
}

.dropdown-item:focus,
.dropdown-item:hover,
.page-item a:hover
 {
    background-color: var(--color-tertiary);
}

.nav-link-sale {
    color: var(--color-secondary);
    letter-spacing: 0.2ch;
    font-weight: bolder;
}

.nav-link-sale:hover,
.nav-link-sale:focus {
    color: var(--color-off-white);
}

.hero-container {
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    min-height: 640px;
    background-image: url("/static/images/hero-coffee-beans.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-inner {
    position: relative;
    left: 10%;
    top: 10%;
    width: fit-content;
}

.hero-headline {
    color: var(--color-off-white);
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px #fff solid;
}

.btn {
    font-family: var(--font-display-font);
}

.btn-cc {
    --bs-btn-color: var(--color-off-white);
    --bs-btn-hover-color: var(--color-off-white);
    --bs-btn-bg: var(--color-primary);
    --bs-btn-hover-bg: var(--color-primary-lighter);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-active-border-color: var(--color-primary);
    --bs-btn-hover-border-color: var(--color-primary);
    display: inline-block;
    text-decoration: none;
}

.btn-outline-cc {
    --bs-btn-color: var(--color-primary);
    --bs-btn-hover-color: var(--color-off-white);
    --bs-btn-bg: var(--color-off-white);
    --bs-btn-hover-bg: var(--color-primary-lighter);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-border-color: var(--color-primary);
    --bs-btn-active-border-color: var(--color-primary);
}

.btn-cc-greyed {
    --bs-btn-color: var(--color-primary);
    --bs-btn-hover-color: var(--color-primary);
    --bs-btn-bg: var(--color-off-white);
    --bs-btn-hover-bg: var(--color-off-white);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-border-color: var(--color-primary);
    --bs-btn-active-border-color: var(--color-primary);
}

.svg-in-btn {
    margin-right: 0.5rem;
}

.svg-primary {
    fill: var(--color-primary);
}

.hero-button {
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: var(--color-off-white) 2px solid;
    color: var(--color-off-white);
    background-color: var(--color-primary);
    display: inline-block;
}

.product-list-top {
    padding-bottom: 1rem;
}

.product-list-image {
    max-width: 15rem;
}

.product-low-stock {
    color: rgb(173, 0, 52);
    font-weight: bolder;
}

/* Footer Styles */

footer {
    background-color: var(--color-primary);
    color: var(--color-off-white);
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    align-items: center;
}

footer .footer-container {
    display: grid;
    grid-template-areas:
        "footer-socials"
        "footer-nav"
        "footer-contact";
    font-size: 0.9rem;
    gap: 2rem;
    align-items: center;
}

#footer-contact-section {
    grid-area: footer-contact;
}

#footer-nav-section {
    grid-area: footer-nav;
}

#footer-socials-section {
    grid-area: footer-socials;
}


footer a, 
nav a, 
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
    text-decoration: none;
}

footer ul {
    list-style: none;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer li {
    display: inline;
    padding: 0 1rem;
}

.footer-email {
    font-weight: bolder;
}

.footer-socials li i {
    color: inherit;
}

#page-title {
    padding: 1rem 0;
    font-size: 2.5rem;
    background-color: var(--color-white);
    grid-area: page-title;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .hero-headline {
        font-size: 2.5rem;
    }

    footer .footer-container {
        font-size: 1rem;
    }

    .main {
        padding: 1.5rem;
    }

}

/* Media Query for Large Screens */

@media screen and (min-width: 1200px) {
    .navbar-brand {
        font-size: 3rem;
    }

    footer .footer-container {
        grid-template-areas:
            "footer-contact footer-nav footer-socials";
    }

    #footer-nav {
        flex-direction: column;
    }
}

@media print {

    nav,
    a.nav-link,
    ol.breadcrumb,
    footer {
        display: none;
    }

    .navbar-brand {
        font-size: 5rem;
    }
}