.progress {
    --bs-progress-bar-bg: var(--color-primary);
}

.checkout-progress-icons, .checkout-progress-breadcrumbs {
    color: var(--color-primary);
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

.checkout-progress-breadcrumbs {
    margin-top: 1rem;
}

.checkout-progress-breadcrumbs li.active {
    font-weight: bolder;
    color: var(--color-primary);
}

.checkout-progress-icons {
    margin: 0;
    padding: 0 1rem 1rem;
}

.checkout-progress-icon {
    list-style: none;
}