{% extends "base.html" %}
{% block extra_title %}
    - 403 Forbidden
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "home" %}">Coffee Crew</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Forbidden</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    <h1 class="text-center">403 - Forbidden</h1>
    <hr class="product-hr">
    <p class="text-center fs-4">Forbidden! It seems that you don't have access to this page.</p>
    <hr class="product-hr">
    <a href="{% url 'home' %}" class="btn btn-cc">Browse our Coffee</a>
{% endblock content %}
