{% extends "base.html" %}
{% block extra_title %}
    - 500 Internal Server Error
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "home" %}">Coffee Crew</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Internal Server Error</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    <h1 class="text-center">500 - Internal Server Error</h1>
    <hr class="custom-hr">
    <p class="text-center fs-4">Oh no! Something went wrong on our end.</p>
    <hr class="custom-hr">
    <a href="{% url 'home' %}" class="btn btn-cc">Browse our Coffee</a>
{% endblock content %}
