<div class="dropdown">
   <a class="btn btn-secondary dropdown-toggle custom-dropdown-button"
      href="#"
      id="dropdownSort"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      {% if sort_selected %}
         {{ sort_selected }}
      {% else %}
         Sort
      {% endif %}
   </a>
   <div class="dropdown-menu" aria-labelledby="dropdownSort">
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=visible_to_customers&order=asc">Hidden First</a>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=visible_to_customers&order=desc">On Display First</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=stock&order=asc">Stock (low to high)</a>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=stock&order=desc">Stock (high to low)</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=lifetime_sales&order=asc">Sales (low to high)</a>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=lifetime_sales&order=desc">Sales (high to low)</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=date_added&order=asc">Oldest First</a>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=date_added&order=desc">Newest First</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=name&order=asc">Name (A-Z)</a>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=name&order=desc">Name (Z-A)</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=price&order=asc">Price (low to high)</a>
      <a class="dropdown-item"
         href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=price&order=desc">Price (high to low)</a>
   </div>
</div>
