<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container custom-container">
        <a class="navbar-brand" href="{% url 'home' %}">Coffee Crew</a>
        <a class="nav-link d-lg-none" href="{% url 'shopping_cart' %}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20"
                 height="20"
                 fill="currentColor"
                 class="bi bi-cart3 icon"
                 viewBox="0 0 16 16"
                 aria-label="Cart">
                <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <span class="d-none d-md-inline">€{{ cart_total|floatformat:2 }}</span></a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex mx-auto"
                  role="search"
                  method="get"
                  action="{% url 'products' %}">
                <div class="input-group">
                    <input class="form-control form-control-sm search-box"
                           type="search"
                           placeholder="Search"
                           name="search"
                           aria-label="Search">
                    <button class="btn btn-outline-light btn-search"
                            type="submit"
                            aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-search"
                             viewBox="0 0 16 16">
                            <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                {% for department in departments_with_categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{{ department.name }}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'products_by_department' department.name %}">All {{ department.name }}</a>
                            </li>
                            {% if department.categories %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            {% endif %}
                            {% for category in department.categories %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'products_by_category' category=category.name %}">{{ category.display_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">Brands</a>
                    <ul class="dropdown-menu">
                        {% for brand in brands %}
                            <li>
                                <a class="dropdown-item" href="{% url "products_by_brand" brand.name %}">{{ brand.display_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{% url 'account_dashboard' %}">My Account</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account_orders' %}">My Orders</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'wish_list' %}">Wishlist
                                    {% if wishlist.num_products > 0 %}
                                        <span class="badge rounded-pill text-bg-dark">{{ wishlist.num_products }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            {% if user.is_staff %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'manage_shop' %}">Manage Shop</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'manage_products' %}">Manage Products</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'manage_orders' %}">Manage Orders</a>
                                </li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                {% endif %}
                <li class="nav-item d-none d-lg-inline">
                    <a aria-label="Shopping Cart"
                       class="nav-link"
                       href="{% url 'shopping_cart' %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             fill="currentColor"
                             class="bi bi-cart3 icon"
                             viewBox="0 0 16 16"
                             aria-label="Cart">
                            <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    €{{ cart_total|floatformat:2 }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
