{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    - Delete {{ brand.name }}
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "manage_shop" %}">Manage Shop</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Delete {{ brand.display_name }}?</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    <div class="container-fluid">
        <h1>Delete {{ brand.display_name }}?</h1>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="confirm-check">
            <label class="form-check-label" for="confirm-check">I understand the consequences of deleting.</label>
        </div>
        <hr class="custom-hr">
        <form method="post" action="{% url 'brand_delete' brand.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            <button type="submit" class="btn btn-danger" id="delete-button">Delete Brand</button>
        </form>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/confirm_delete.js' %}"></script>
{% endblock extra_js %}
