{% extends "base.html" %}

{% block extra_title %}
    {% if category %}
        - Edit {{ category.display_name }}
    {% else %}
        - Add New Category
    {% endif %}
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "manage_shop" %}">Manage Shop</a>
            </li>
            {% if category %}
            <li class="breadcrumb-item">Departments</li>
            <li class="breadcrumb-item">
                <a href="{% url 'department_update' category.department.id %}">{{ category.department.name }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url "manage_shop" %}">Categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.display_name }}</li>
            {% else %}
            <li class="breadcrumb-item active" aria-current="page">New Category</li>
            {% endif %}
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    {% if category %}
        <h1>Edit {{ category.display_name }}</h1>
    {% else %}
        <h1>New Category</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <hr>
    {% if category %}
        <a href="{% url 'category_delete' category.id %}"
           class="btn btn-sm btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-trash-fill"
                 viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z">
            </svg>
            Delete Category
        </a>
    {% endif %}
{% endblock content %}
