{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    - Delete {{ category.name }}
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "manage_shop" %}">Manage Shop</a>
            </li>
            <li class="breadcrumb-item">Departments</li>
            <li class="breadcrumb-item">
                <a href="{% url 'department_update' category.department.id %}">{{ category.department.name }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "manage_shop" %}">Categories</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "category_update" category.id %}">{{ category.display_name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Delete {{ category.display_name }}?</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    <div class="container-fluid">
        <h1>Delete {{ category.display_name }}?</h1>
        {% if category.num_products > 0 %}
            <p class="text-danger">
                {{ category.display_name }} contains
                {% with total=category.num_products %}{{ total }} product{{ total|pluralize }}{% endwith %}
                !
                <br>
                Deleting this category will also delete those categories products and is not recommended.
                <br>
                <br>
                You should move <a href="{% url 'manage_products_by_category' category=category.name %}"
    class="text-decoration-underline">these products</a> to categories in different departments before deleting.
            </p>
        {% endif %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="confirm-check">
            <label class="form-check-label" for="confirm-check">I understand the consequences of deleting.</label>
        </div>
        <hr class="custom-hr">
        <form method="post" action="{% url 'category_delete' category.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            <button type="submit" class="btn btn-danger" id="delete-button">Delete Category</button>
        </form>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/confirm_delete.js' %}"></script>
{% endblock extra_js %}
