{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Delete {{ product.name }}
{% endblock extra_title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url "manage_shop" %}">Manage Shop</a>
      </li>
        <li class="breadcrumb-item">
          <a href="{% url 'manage_products_by_department' product.category.first.department.name %}">{{ product.category.first.department.name }}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'manage_products_by_category' product.category.first.name %}">{{ product.category.first.display_name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete {{ product.name }}?</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block content %}
    <h1>Delete {{ product.name }}?</h1>
    <strong>This is irreversible.</strong>
    <p class="text-danger">
        {% if product.lifetime_sales > 0 %}
        <br>
   {{ product.name }} has sold {% with total=product.lifetime_sales %}{{ total }} {{ total|pluralize:"unit,units" }}{% endwith %} since listed.
   {% endif %}
        <br><br>
        Deleting this product will remove it from all customers' carts and wishlists.
    </p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="confirm-check">
        <label class="form-check-label" for="confirm-check">
          I understand the consequences of deleting.
        </label>
      </div>
      <hr class="custom-hr">
    <form method="post" action="{% url 'product_delete' product.id %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
        <button type="submit" class="btn btn-danger" id="delete-button">Delete Product</button>
    </form>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/confirm_delete.js' %}"></script>
{% endblock extra_js %}