{% extends "base.html" %}

{% block extra_title %}
  - Verification Sent
{% endblock extra_title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url "account_signup" %}">Sign Up</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Verify Your E-mail Address</li>
      </ol>
  </nav>
{% endblock breadcrumbs %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification.
      <br><br>
      Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder.
      
      <br><br>
      Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>

      <hr class="product-hr">
      <h2>Handy Links</h2>
      <a href="https://gmail.google.com/inbox/" target="_blank" rel="noopener" class="btn btn-sm btn-cc btn-outline-cc">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google svg-in-btn" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
        </svg>
        Gmail Inbox
      </a>
      <a href="https://outlook.office365.com/mail/inbox" target="_blank" rel="noopener" class="btn btn-sm btn-cc btn-outline-cc">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft svg-in-btn" viewBox="0 0 16 16">
          <path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"/>
        </svg>
        Outlook Inbox
      </a>
      <a href="https://www.icloud.com/mail" target="_blank" rel="noopener" class="btn btn-sm btn-cc btn-outline-cc">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill svg-in-btn" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
        </svg>
        iCloud Inbox
      </a>


{% endblock %}
