{% extends "base.html" %}
{% block extra_title %}
    - Update Account
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'account_dashboard' %}">Your Account</a>
            </li>
            {% if address %}
                <li class="breadcrumb-item active" aria-current="page">Update Your Address</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Update Your Details</li>
            {% endif %}
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    <div class="container-fluid">
        {% if address %}
            <h1>Update {{ address|capfirst }} Address</h1>
        {% else %}
            <h1>Update Profile</h1>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ form|crispy }}
            <button type="submit" class="btn btn-cc">Save</button>
        </form>
    </div>
{% endblock content %}
