{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    {% if wishlist_page %}
        - My Wishlist
    {% elif category %}
        - {{ category.display_name }}
    {% elif department %}
        - {{ department }}
    {% elif brand %}
        - {{ brand.display_name }}
    {% else %}
        - Products
    {% endif %}
{% endblock extra_title %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
        <ol class="breadcrumb">
            {% if wishlist_page %}
                <li class="breadcrumb-item active" aria-current="page">My Wishlist</li>
            {% elif search_results %}
                <li class="breadcrumb-item active" aria-current="page">Search Results for {{ search_results }}</li>
            {% elif not department and not category and not wishlist_page and not brand %}
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            {% elif department or category or brand %}
                <li class="breadcrumb-item">
                    <a href="{% url "products" %}">Products</a>
                </li>
            {% endif %}
            {% if department or category %}
                {% if department %}
                    <li class="breadcrumb-item active" aria-current="page">{{ department.name }}</li>
                {% elif category %}
                    <li class="breadcrumb-item">
                        <a href="{% url "products_by_department" category.department.name %}">{{ category.department }}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if category %}<li class="breadcrumb-item active" aria-current="page">{{ category.display_name }}</li>{% endif %}
            {% if brand %}
                <li class="breadcrumb-item">Brands</li>
                <li class="breadcrumb-item active" aria-current="page">{{ brand.display_name }}</li>
            {% endif %}
        </ol>
    </nav>
{% endblock breadcrumbs %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if department %}
                    <h2>{{ department }}</h2>
                {% elif category %}
                    <h2>{{ category.display_name }}</h2>
                {% elif wishlist_page %}
                    <h2>My Wishlist</h2>
                {% elif brand %}
                    <h2>{{ brand.display_name }}</h2>
                {% else %}
                    <h2>Products</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if department %}
                    {% for dept in departments_with_categories %}
                        {% if dept.name == department.name %}
                            {% for category in dept.categories %}
                                <a href="{% url 'products_by_category' category=category.name %}"
                                   class="btn btn-sm btn-cc">{{ category.display_name }}</a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if not department and not category and not wishlist_page and not search_results and not brand %}
                    {% for dept in departments_with_categories %}
                        <a href="{% url 'products_by_department' department=dept.name %}"
                           class="btn btn-sm btn-cc">{{ dept.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-end product-list-top">
                        {% if products|length > 1 %}
                            {% comment %}
                            Only show sort options if there is more than one product to show.
                            {% endcomment %}
                            {% block product_sort %}
                                {% include "includes/products_sort.html" %}
                            {% endblock product_sort %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if products %}
                        {% for product in products %}
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="card product-card">
                                    <a href="{% url 'product_detail' product.slug %}">
                                        {% if product.image %}
                                            <img src="{{ product.imageURL }}"
                                                 width="500px"
                                                 class="card-img-top"
                                                 alt="{{ product.name }}">
                                        {% else %}
                                            <img src="{% static 'images/hero-coffee-filter.jpg' %}"
                                                 width="500px"
                                                 class="card-img-top"
                                                 alt="{{ product.name }}">
                                        {% endif %}
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                                        </h5>
                                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <h5>€{{ product.price }}</h5>
                                            </li>
                                            {% if user.is_authenticated %}
                                                <li class="list-group-item">{% include "includes/buttons/wishlist.html" %}</li>
                                            {% endif %}
                                            <li class="list-group-item">
                                                {% if product.stock %}
                                                    {% include "includes/buttons/add_to_cart.html" %}
                                                {% else %}
                                                    <span class="btn btn-sm btn-cc-greyed">Out of Stock</span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-block d-md-none">
                                <hr class="custom-hr">
                            </div>
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-md-block d-lg-none">
                                    <hr class="custom-hr">
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none">
                                    <hr class="custom-hr">
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block">
                                    <hr class="custom-hr">
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% include "includes/pagination_links.html" %}
                    {% else %}
                        No Products to show.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
