{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>{{ product.name }}</h2>
            <p>{{ product.brand.friendly_name }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.category }}</p>
            <p>€{{ product.price }}</p>
        </div>
    </div>
</div>
{% endblock content %}