{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if department %}
                    <h2>{{ department }}</h2>
                {% elif category %}
                    <h2>{{ category.display_name }}</h2>
                {% elif wishlist %}
                    <h2>Your Wishlist</h2>
                {% else %}
                    <h2>Products</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if department %}
                    {% for dept in departments_with_categories %}
                        {% if dept.name == department.name %}
                            {% for category in dept.categories %}
                                <a href="{% url 'products_by_category' category=category.name %}"
                                   class="custom-button">{{ category.display_name }}</a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-end product-list-top">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle custom-dropdown-button"
                               type="button"
                               id="dropdownSort"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                {% if sort_selected %}
                                    {{ sort_selected }}
                                {% else %}
                                    Sort
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownSort">
                                <a class="dropdown-item"
                                   href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=date_added">Newest First</a>
                                <a class="dropdown-item"
                                   href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=name&order=asc">Name (A-Z)</a>
                                <a class="dropdown-item"
                                   href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=name&order=desc">Name (Z-A)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=price&order=asc">Price (low to high)</a>
                                <a class="dropdown-item"
                                   href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort=price&order=desc">Price (high to low)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="card product-card">
                                <a href="{% url 'product_detail' product.id %}">
                                    {% if product.image %}
                                        <img src="{{ product.imageURL }}"
                                             class="card-img-top"
                                             alt="{{ product.name }}"/>
                                    {% else %}
                                        <img src="{% static 'images/hero-coffee-filter.jpg' %}"
                                             class="card-img-top"
                                             alt="{{ product.name }}"/>
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                        </h5>
                                    </a>
                                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h5>€{{ product.price }}</h5>
                                        </li>
                                        {% if user.is_authenticated %}
                                            <li class="list-group-item">
                                                {% if product in user.wishlist.products.all %}
                                                    <form method="post"
                                                          action="{% url 'remove_from_wishlist' product_id=product.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-heart"
                                                                 viewBox="0 0 16 16">
                                                                <path
                                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                            </svg>
                                                            Remove From Wishlist
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form method="post"
                                                          action="{% url 'add_to_wishlist' product_id=product.id %}">
                                                        {% csrf_token %}
                                                        <button class="custom-button" type="submit">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 width="16"
                                                                 height="16"
                                                                 fill="currentColor"
                                                                 class="bi bi-heart-fill"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                            </svg>
                                                            Add to Wishlist
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                        <li class="list-group-item">
                                            <form action="{% url 'cart_add' product.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="custom-button" type="submit">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="16"
                                                         height="16"
                                                         fill="currentColor"
                                                         class="bi bi-cart-plus"
                                                         viewBox="0 0 16 16">
                                                        <path
                                                        d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                                                        <path
                                                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                                    </svg>
                                                    Add to Cart
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-block d-md-none">
                            <hr class="product-hr"/>
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-md-block d-lg-none">
                                <hr class="product-hr"/>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none">
                                <hr class="product-hr"/>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block">
                                <hr class="product-hr"/>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
