{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block extra_title %}
  - Login Failure
{% endblock extra_title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="col d-flex justify-content-start">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url "home" %}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Login Failure</li>
      </ol>
  </nav>
{% endblock breadcrumbs %}
{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<h1>{% trans "Social Network Login Failure" %}</h1>

<p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
{% endblock %}
